<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <createsend_general>
            <api>
                <authentication_method>api_key</authentication_method>
            </api>
        </createsend_general>
    </default>
</config>
